$main-color: #d90222;
$font-color: white;
$border-radius: 3px;
$main-button-color: white;
$header-font: "Mansalva", cursive;
$main-font-theme: "Domine", serif;
$written-font: "Dancing Script", cursive;
$margin-fields: 10px auto;
