@import "config";

.account-details-container {
  background-color: $main-color;
  color: $font-color;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .account-details-title {
    text-align: center;
  }

  button {
    background-color: $main-button-color;
    color: $main-color;
    border-radius: $border-radius;
    border-color: transparent;
    cursor: pointer;
  }

  button.like-button {
    font-size: 12px;
    font-weight: bold;
  }

  .password-button-text {
    border: 2px solid $main-color;
    border-radius: 3px;
    padding: 5px;
    color: $main-color;
    background-color: $font-color;
    width: 80%;
    font-size: 16px;
  }

  .password-button-image {
    border: 2px solid $main-color;
    border-radius: 3px;
    padding: 5px;
    color: $main-color;
    background-color: $font-color;
    width: 15%;
    font-size: 16px;
  }

  .changepwd-div {
    display: flex;
    justify-content: center;
  }

  .edit-button,
  .save-button {
    position: absolute;
    margin-left: -50px;
    left: 51%;
    bottom: 17%;
    width: 90px;
    font-size: 20px;
  }

  .cancel-button {
    position: absolute;
    margin-right: -50px;
    right: 20%;
    bottom: 17%;
    width: 90px;
    font-size: 20px;
  }

  .delete-button {
    position: absolute;
    margin-left: -50px;
    left: 20%;
    bottom: 17%;
    width: 90px;
    font-size: 20px;
  }

  .delete-confirm-message {
    position: absolute;
    background-color: $font-color;
    color: $main-color;
    border-radius: 10px;
    padding: 10px;
    width: 99%;
    left: 0%;
    bottom: 21%;
    text-align: center;
  }

  .fields-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .field-card {
      margin: 10px auto;
      justify-content: center;

      input.field-value {
        font-size: 16px;
      }

      .like-container {
        .field-value {
          display: inline;
          width: 100px;
          margin: 2px;
          border-radius: $border-radius;
        }

        .like-button {
          border: 2px solid $font-color;
          border-radius: 3px;
          padding: 5px;
          background-color: $font-color;
          color: $main-color;
        }
      }

      .add-like-button {
        border: 2px solid $font-color;
        border-radius: 3px;
        padding: 5px;
        background-color: $font-color;
        color: $main-color;
        font-size: 12px;
        font-weight: bold;
      }

      .password-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .field-value {
          display: inline;
          background-color: $main-color;
          border: 1px solid white;
          margin: 2px;
          border-radius: $border-radius;
        }
      }
    }
  }

  input,
  ::placeholder {
    background-color: $main-color;
    background-color: $main-color;
    border: $main-color;
    color: $font-color;
    font-size: 16px;
  }

  .font-awesome {
    text-align: center;
    margin: auto;
  }
}
