@import "config";

* {
    box-sizing: border-box;
}

.account-details-container {
    background-color: $main-color;
    .account-details-title {
        text-align: center;
        button {
            background-color: white;
            border-radius: $border-radius;
            cursor: pointer;
        }
    }
    .fields-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .field-card {
            margin: 10px auto;
            justify-content: center;
            .field-tag {
                display: block;
                width: 100px;
            }
            .field-value {
                display: block;
                background-color: white;
                border: 1px solid black;
                width: 100px;
                border-radius: $border-radius;
            }
        }
    }

}