@import "config";

.admin-card-container {
  background-color: $main-color;
  color: $font-color;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1{
    text-align: center;
  }
  button {
    margin-bottom: 5px;
    color: $main-color;
    background-color: $font-color;
    border-radius: $border-radius;
    cursor: pointer;
  }

  .event-data-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
