@import "config";

.admin-card-container {
    background-color: $main-color;
    color: $font-color;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    button {
        background-color: $main-button-color;
        border-radius: $border-radius;
        cursor: pointer;
    }

    .event-data-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

    }
}