@import "config";

* {
  box-sizing: border-box;
  font-family: $main-font-theme;
  margin: 0px;

  h1 {
    font-family: $header-font;
    font-size: 40px;
  }
}

.App {
  display: grid;
  grid-template-rows: 15% auto 15%;
  grid-template-areas:
    "navbar-top"
    "main"
    "navbar-bottom";
  padding: 0px;
  margin: 0px;
  height: 100vh;
}

NavBarTop {
  grid-area: navbar-top;
}

NavBarBottom {
  grid-area: navbar-bottom;
}

.main {
  grid-area: main;
  height: 100%;
}
