@import "config";

.create-event-container {
  background-color: $main-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  h1 {
    color: $font-color;
  }

  .create-event-form {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
  }

  .field-card {
    margin: $margin-fields;
    width: 100%;
  }

  .name-container {
    margin-bottom: 5px;
  }

  .field-value-title,
  .field-value-budget,
  .field-value-date {
    width: 100%;
  }

  .field-value-date::-webkit-calendar-picker-indicator {
    filter: invert(1);
  }

  button {
    cursor: pointer;
  }

  input,
  button {
    border: 2px solid $font-color;
    border-radius: 3px;
    padding: 5px;
    color: $font-color;
    background-color: transparent;
  }

  button {
    background-color: $font-color;
    color: $main-color;
  }

  input::placeholder {
    color: $font-color;
  }
}
