@import "config";

.join-event {
  background-color: $main-color;
  color: $font-color;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 20px;

  input,
  button {
    border: 2px solid $font-color;
    border-radius: 3px;
    padding: 5px;
    color: $font-color;
    background-color: transparent;
    margin: 3px;
    font-size: 16px;
  }

  button {
    background-color: $font-color;
    color: $main-color;
  }

  input::placeholder {
    color: $font-color;
    font-size: 16px;
  }
}
