@import "config";

.login {
  background-color: $main-color;
  color: $font-color;
  height: 100%;
  padding: 12px 20px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  .switch-register,
  .form-div,
  .description-div {
    margin: $margin-fields;
  }

  .login-heading {
    padding: 10px;
  }

  li,
  p {
    font-size: 16px;
    margin: 10px 0;
  }

  .form-div {
    .login-form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .password-div,
      .email-div {
        margin: $margin-fields;
        width: 100%;
      }

      .email-div {
        input {
          width: 100%;
        }
      }
    }
  }

  input,
  button {
    border: 2px solid white;
    border-radius: 3px;
    padding: 5px;
    color: white;
    background-color: transparent;
    font-size: 16px;
  }

  .eye-button,
  .login-button {
    background-color: $font-color;
    color: $main-color;
    font-size: 16px;
  }

  input::placeholder {
    color: white;
  }
}
