.events {
  padding: 0.5rem;
}

.events > .item {
  display: inline-block;
  padding: 0.5rem;
  box-sizing: border-box;
}

@import "config";

.my-events-container {
  background-color: $main-color;
  color: $font-color;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.2rem;
  text-indent: 10px;

  .my-events-title {
    text-align: center;
  }

  .event-data-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .event-data-card {
      margin: 10px auto;
      justify-content: center;
      text-align: center;
    }
  }
  .field-card {
    position: fixed;
    left: 20px;
    bottom: 20vh;
    display: flex;
    flex-direction: column;
  }
  .next {
    position: fixed;
    right: 20px;
    bottom: 20vh;
  }
  .event-button {
    width: 90px;
    margin: 4px;
  }
  .edit-button {
    position: fixed;
    left: 20px;
    top: 20vh;
  }
  input,
  button {
    border: 2px solid $font-color;
    border-radius: 3px;
    padding: 5px;
    color: $font-color;
    background-color: transparent;
  }

  .field-value-date::-webkit-calendar-picker-indicator {
    filter: invert(1);
  }

  .reveal {
    padding: 15px;
    font-size: 30px;
    button {
      border: none;
      font-size: 30px;
      cursor: pointer;
      transition-duration: 400ms;
    }
    .buy-for{
      padding: 5px;
    }
  }
}
