.events {
  padding: 0.5rem;
}

.events > .item {
  display: inline-block;
  padding: 0.5rem;
  box-sizing: border-box;
}

@import "config";

.my-events-container {
  box-shadow: 0 0 10px 5px grey;
  border-radius: 10px;
  background-color: $main-color;
  color: $font-color;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem;
  line-height: 1.2rem;
  text-indent: 10px;

  .my-events-title {
    text-align: center;
  }

  .event-data-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .event-data-card {
      margin: 10px auto;
      justify-content: center;
    }
  }
}
