.events {
  padding: 0.5rem;
}

.events>.item {
  display: inline-block;
  padding: 0.5rem;
  box-sizing: border-box;
}

@import "config";

.my-events-container {
  background-color: $main-color;
  color: $font-color;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-indent: 10px;
  line-height: normal;

  .my-events-title {
    text-align: center;
  }

  .event-data-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .event-data-card {
      margin: 10px auto;
      justify-content: center;
      text-align: center;
    }
  }

  .field-card {
    position: fixed;
    left: 20px;
    bottom: 17%;
    display: flex;
    flex-direction: column;
  }

  .delete-confirm-message {
    position: absolute;
    background-color: $font-color;
    color: $main-color;
    border-radius: 10px;
    padding: 10px;
    width: 99%;
    left: 0%;
    bottom: 28%;
    text-align: center;
  }

  .next {
    position: fixed;
    right: 20px;
    bottom: 17%;
    font-size: 20px
  }

  .event-button {
    width: 90px;
    margin: 4px;
    font-size: 20px
  }

  .leave-button,
  .cancel-button {
    position: fixed;
    left: 38%;
    width: 90px;
    margin: 4px;
    font-size: 20px
  }

  .leave-button {
    bottom: 17%;
  }

  .cancel-button {
    bottom: 23%;
  }

  .edit-button {
    position: fixed;
    right: 20px;
    top: 20vh;
  }

  input,
  button {
    border: 2px solid $font-color;
    border-radius: 3px;
    padding: 5px;
    color: $font-color;
    background-color: transparent;
  }

  .field-value-date::-webkit-calendar-picker-indicator {
    filter: invert(1);
  }

  .no-events-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    line-height: normal;
  }

  .reveal {
    padding: 15px;
    font-size: 30px;

    button {
      border: none;
      font-size: 30px;
      cursor: pointer;
      transition-duration: 400ms;
    }

    .buy-for {
      padding: 5px;
    }
  }
}