@import "config";

.my-events-container {
    background-color: $main-color;
    color: $font-color;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .my-events-title {
        text-align: center;
    }
    .event-data-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .event-data-card {
          margin: 10px auto;
          justify-content: center;
        }
      }
}