.navbarbottom {
  position: relative;
  background-image: url(../../public/images2.jpeg);
  background-position: center;
  background-repeat: repeat;
  ul {
    list-style: none;
    display: flex;
    padding: 0px;
    justify-content: space-around;
    margin: auto 0px;
    li {
      width: 33.33%;
    }
  }
}

.list-container {
  text-align: center;
  width: 100%;
  margin: auto;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.navbarbottom-link-item {
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  color: white;
  text-align: center;
  .font-awesome {
    font-size: 25px;
    text-align: center;
    margin: auto;
  }
  div {
    font-size: 16px;
  }
}
