.navbartop-link-item {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 25px;
  text-decoration: none;
  color: white;
}

.navbartop {
  color: white;
  background-image: url(../../public/images.jpeg);
  background-position: center;
}
