@import "config";

.navbartop {
  color: white;
  background-image: url(../../public/images.jpeg);
  background-position: center;

  .navbar-logo-container {
    display: inline-block;
    margin: 0px 10px;
    padding: 25px 10px;
    height: 100%;

    .ss-logo {
      height: 100%;
      margin: auto;
    }
  }

  ul {
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    padding: 0px;
    margin: 10px;
    height: 75px;

    .navbartop-link-item {
      float: right;
      padding-left: 10px;
      padding-right: 10px;
      font-size: 25px;
      text-decoration: none;
      color: white;
    }

    .account-details {
      color: white;
      font-size: 16px;
      text-align: center;
      text-decoration: none;
    }

    .font-awesome {
      font-size: 25px;
      text-align: center;
      margin: auto;
    }
  }

  .logout {
    color: $font-color;
    background-color: transparent;
  }

  button {
    cursor: pointer;
    position: absolute;
    width: 100px;
    right: 10px;
    // top: 5px;
    background-color: $font-color;
    color: $main-color;
    border: 2px solid $font-color;
    border-radius: 3px;
    padding: 5px;
  }
}