@import "config";

.navbartop {
  color: white;
  background-image: url(../../public/images.jpeg);
  background-position: center;

  .navbar-logo-container {
    display: inline-block;
    margin: 0px 10px;
    padding: 25px 10px;
    height: 100%;

    .ss-logo {
      height: 100%;
      margin: auto;
    }
  }
  .navbartop-links {
    position: fixed;
    height: 15vh;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .account-details {
    color: $main-color;
  }

  .logout {
    color: $font-color;
    background-color: transparent;
  }

  button {
    font-size: 25px;
    cursor: pointer;
    position: relative;
    width: 80px;
    right: 10px;
    background-color: $font-color;
    color: $main-color;
    border: 2px solid $font-color;
    border-radius: 3px;
    padding: px;
  }
}
