.navbarbottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-image: url(../../public/images2.jpeg);
  background-position: center;
}

.navbarbottom-link-item {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  font-size: 25px;
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
}
