.navbarbottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-image: url(../../public/images2.jpeg);
  // background-size: 100% 100%;
  background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;
  // height: 100vh;
  // width: 100vw;
  ul {
    list-style: none;
    display: flex;
    padding: 0px;
    justify-content: space-around;
    li {
      width: 33.33%;
    }
  }
}

.navbarbottom-link-item {
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  color: white;
  text-align: center;
  .font-awesome {
    font-size: 25px;
    text-align: center;
    margin: auto;
  }
  div {
    font-size: 16px;
  }
}
