@import "config";

.register {
  background-color: $main-color;
  color: $font-color;
  // width: 100%;
  height: 100%;
  padding: 12px 20px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  .switch-register,
  .form-div,
  .description-div {
    margin: $margin-fields;
  }
  .form-div {
    .register-form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .name-div,
      .password-div,
      .email-div {
        margin: $margin-fields;
        width: 100%;
      }
      .email-div {
        input {
          width:100%;
        }
      }
    }
  }
  input,
  button {
    border: 2px solid white;
    border-radius: 3px;
    padding: 5px;
    color: white;
    background-color: transparent;
  }
}